@media(max-width: 1440px) {
  .container {
    max-width: 124.8rem;
  }
}

@media (max-width:560px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .section--header {
    padding: 2rem;
  }

  .section--aboutMe,
  .section--redes,
  .section--Projetos {
    padding: 2rem;
    margin: 0 auto;
    margin-top: 1.2rem;
    width: 100%;
    height: auto;
  }

  .section--aboutMe h2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .container-slider {
    padding: 1.5rem;
    width: 100%;
    margin: 0 auto;
  }

}