@media (max-width: 450px) {
  body {
    flex-direction: column;
    font-size: 1.3rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section--header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 380px;
    line-height: 40px;
    height: 740px;
  }
  .section--header h2 {
    width: 310px;
  }

  .section--aboutMe,
  .section--Projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 25px;
    margin-right: 30px;

    width: 380px;
    height: 740px;
  }
  

  .section--aboutMe p {
    font-size: 1rem;
  }

  .section--redes {
    padding: 0px;
    margin-bottom: 25px;
    width: 380px;
    height: 140px;
  }
  .section--redes img {
    margin-top: 20px;
    width: 40px;
  }

  .section--Projetos .section-projetos-cards {
    width: 200px;
    height: 300px;
  }

  .section--Projetos .section-projetos-cards img {
    border-radius: 10px;
    width: 50px;
  }
  .container-slider {
    padding: 10px;
    max-width: 350px;
    margin: 0 auto;
  }
  .section--Projetos p {
    margin-top: 10px;
    font-size: 1rem;
  }
 
}


@media (max-width: 80px) {
  body {
    flex-direction: column;
    font-size: 1.3rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section--header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 380px;
    line-height: 40px;
    height: 740px;
  }
  .section--header h2 {
    width: 310px;
  }

  .section--aboutMe,
  .section--Projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 25px;
    margin-right: 30px;

    width: 380px;
    height: 740px;
  }

  .section--aboutMe p {
    font-size: 1.1rem;
  }

  .section--redes {
    padding: 0px;
    margin-bottom: 25px;
    width: 380px;
    height: 140px;
  }
  .section--redes img {
    margin-top: 20px;
    width: 40px;
  }

  .section--Projetos .section-projetos-cards {
    width: 200px;
    height: 300px;
  }

  .section--Projetos .section-projetos-cards img {
    border-radius: 10px;
    width: 50px;
  }
  .container-slider {
    padding: 10px;
    max-width: 350px;
    margin: 0 auto;
  }
  .section--Projetos p {
    margin-top: 10px;
    font-size: 1rem;
  }
}
