:root {
  --colorPrimary: #121214;
  --colorSecundary: #202024;
  --colorComplement1:#2d2f31;
  --colorComplement2: #2f3036;
  --colorComplement3: #fff;

  --font-Family1: 'Poppins', 'Times New Roman', Times, serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* GENERICS */
.container {
  width: 100%;
  max-width: 143.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  display: grid;
  grid-template-areas: "header""main main""main main";
  grid-template-columns: 1fr 3fr 3fr;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;

  font-family: var(--font-Family1);
  font-size: 1.5rem;
  color: var(--colorComplement3);

  background: var(--colorPrimary);
}
p{
  font-size: 1.1rem;
  line-height: 1.8rem;
}
h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}

h3 {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;


  background-color:var(--colorComplement2); 
  border: 4px solid #515255;
  text-align: center;
  font-size: 1.1em;
  color: var(--colorComplement3);
}
hr{
  margin-top: 28px;
  margin-bottom: 28px;
}

.section--header a,
.galery-Elements a {
  background-color: #a3a3d1;
  border-radius: 10px;
  color: #08090D;

  text-transform: uppercase;
  color: var(--colorComplement3);
  border: 4px solid #515255;

  
  padding: 10px;
  text-decoration: none;
}
.section--header a:hover,
.galery-Elements a:hover{
  background-color: var(--colorComplement2);
}
.section--header .curriculum{
  display: flex;
  
  margin-bottom: 20px;
}

/* HEADER */
.section--header {
  padding: 4rem;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 0px var(--colorComplement1);
  width: 100%;
  height: 97%;
  background-color: var(--colorSecundary);
}

.section--header img {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
  border-radius: 10%;
  border: 10px solid #8989e4;
}
.section--header h2{
  width: 300px;
  margin-bottom: 10px;
}

/* ABOUT */
.section--aboutMe {
  padding: 3rem;
  border-radius: 10px;
  margin-top: 2rem;

  width: 100%;
  max-width: 600px;
  height: auto;
  margin-left: 20px;
  box-shadow: 3px 3px 0px var(--colorComplement1);
  background-color: var(--colorSecundary);
}

.section--aboutMe h2 {
  margin-bottom: 20px;
}
.section--aboutMe p{
  font-size: 1.2rem;
  line-height: 180%;
}



/* HABILIDADES */
.section--redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 4rem;
  width: 100%;
  max-width: 600px;
  height: 200px;
  border-radius: 10px;
  margin-top: 1.3rem;
  margin-left: 1.5rem;
  box-shadow: 3px 3px 0px var(--colorComplement1);

  background-color: var(--colorSecundary);
}

.section--redes img {
  margin-top: 20px;
  width: 50px;
}

/* projetos */
.section--Projetos {
  padding: 2rem;
  border-radius: 10px;

  width: 100%;
  margin-right: 6rem;
  margin-top: 2rem;
  height: auto;
  box-shadow: 3px 3px 0px var(--colorComplement1);

  background-color: var(--colorSecundary);
}
.galery-Elements p button{
  background-color: #8989e4;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.section--Projetos .section-projetos-cards {
  padding: 2rem;
  width: 550px;
}


.container-slider {
  position: relative;
  padding: 15px;
  max-width: 640px;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: #a3a3d1;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 650px;
  gap: 20px;
}
.gallery .galery-Elements p {
  margin-bottom: 160px;
  line-height: 180%;
  font-size: 1rem;
  margin-top: 20px;
}

.gallery .galery-Elements img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.item {
  width: 250px;
  height: 250px;
  margin-top: 150px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
}

.current-item {
  opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}
.gallery-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}